html, body {
    background: transparent;
}

table {
    display: inline-table;
    width: 100%;
}

.main::after {
    fill: coral !important;
}

.main::after {
    content: "";
    background-image: url("/svg/bk.svg");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header, .navbar .clean-btn {
    color: #fff !important;
}

.exhibition-box {
    overflow: hidden;
}

.exhibition {
    width: 1100px;
}

.login-beta {
    font-size: 12px;
    padding: 1px 4px;
    margin: 0 0 0 10px;
    border-bottom: 2px solid #1c325d;
    background-color: #354e80;
    color: #fff;
}
