html, body {
    background: transparent;
}

.main {
    background-image: url("/svg/bk1.svg");
    background-repeat: repeat;
}

.header, .navbar {
    background: #354e80 !important;
}

.exhibition-box {
    overflow: hidden;
}

.exhibition {
    width: 1100px;
}

.login-beta {
    font-size: 12px;
    padding: 1px 4px;
    margin: 0 0 0 10px;
    border-bottom: 2px solid #1c325d;
    background-color: #354e80;
    color: #fff;
}

.hq {
    padding-top: 100px;
    padding-bottom: 50px;
    border-top: 1px solid #f2f2f2;
}

.bi {
    font-size: 1rem;
}

.bi.bi-x-circle {
    color: #ffc107 !important;
    font-weight: bold;
}
