.version-list-box {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    column-gap: 15px;
}

@media (max-width: 1024px) {
    .version-list-box {
        grid-template-columns: 100% !important;
        column-gap: 10px !important;
    }
}
